@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  background-color: v.$primario;

  &__logo {
    width: 80%;
    margin: 0 auto;
    @include m.tablet {
      width: 50%;
      grid-column: 1/3;
    }
    @include m.desktop {
      width: 100%;
      grid-column: 1/2;
    }
  }
  &__grid {
    padding: 5rem 0;
    padding-bottom: 3rem;

    @include m.tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 30% 75%;
      row-gap: 3rem;
    }
    @include m.desktop {
      padding: 3rem 0;
      padding-bottom: 4rem;
      display: grid;
      grid-template-columns: 20% 35% 40%;
      grid-template-rows: unset;
      align-items: center;
    }
  }

  &__copyright {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    background-color: darken(v.$primario, 10);
    color: v.$blanco;
  }
}
.nosotros {
  margin-top: 5rem;
  &__heading,
  &__contenido {
    color: v.$blanco;
    text-align: center;
  }

  @include m.tablet {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
}
.navegacion {
  &__heading {
    color: v.$blanco;
  }
  &--footer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
